<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-start">
    <span class="navbar-brand mb-0 h1 fs-2">📷 Cameras</span>

    <ul class="nav nav-tabs">@raw-category_tabs</ul>
  </div>
</nav>